body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: mintcream;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1em;
  letter-spacing: 0.3em;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.row {
  list-style: none;
  display: flex;
}

li {
  height: 3em;
  width: 3em;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.4em;
  transition: 0.3s;
  text-align: center;
  font-size: 1em;
}
#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#enter {
  width: 6em;
}

#right-shift {
  width: 8em;
}

#back {
  width: 5em;
}
.pinky {
  background-color: crimson;
  border: 2px solid crimson;
}
.pinky.selected {
  color: crimson;
}
.ring {
  background-color: coral;
  border: 2px solid coral;
}
.ring.selected {
  color: coral;
}
.middle {
  background-color: darkorange;
  border: 2px solid darkorange;
}
.middle.selected {
  color: darkorange;
}
.pointer1st {
  background-color: gold;
  border: 2px solid gold;
}
.pointer1st.selected {
  color: gold;
  border: 2px solid gold;
  scale: 1.1;
}
.pointer2nd {
  background-color: khaki;
  border: 2px solid khaki;
}
.pointer2nd.selected {
  color: khaki;
}

.fill-out-key {
  background-color: slategray;
  border: 2px solid slategray;
}

.selected {
  background-color: transparent;
  animation: vibrate-1 0.3s linear infinite both;
}
/* Add this to your existing CSS */

.popover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  z-index: 1000;
  text-align: center;
}

.popover-content {
  padding: 20px;
}

.popover-content h2 {
  margin-bottom: 10px;
}

.popover-content p {
  margin-bottom: 20px;
}

.popover-content button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.timer {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2em;
}
